* {
    margin: 0;
    padding: 0;
    box-sizing: flex-box;
    font-family: Manrope, Helvetica, sans-serif;
}

body {
    background-color: #151624;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-weight: 00;
    margin-bottom: 1rem;
}

p {
    background-image: linear-gradient(90deg, #FFFFFF, #b0b5ff);
    color: transparent;
    background-clip: text;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
